html, body{
  font-family: 'Sanchez', sans-serif !important;
  /*letter-spacing: 1px;*/
  background-color: #019D6E;
  color:white;
  height: 100%;
  width: 100%;
  margin: 0;
	padding: 0;

  box-sizing: border-box;
  overflow-x: hidden;
}


footer{
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
  bottom: 0;
}

.container{
  box-sizing: border-box;
  min-height: 100%;
  overflow: none;

  margin: 30px auto auto auto;
	width: 50%;
	padding-bottom: 30px;

  display: flex;
  flex-direction: column;
}

h1{
  font-size: 40px;
  margin-bottom: 0;
}

p{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/************ Various Formatting *************/
.fullWidth{
  width: 100%;
}

.underline{
  border-bottom: 1px solid white;
}

.rightSide{
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.highlightColor{
  color: #F9E784;
}

.btn{
  font-size: 15px;
  color: #019D6E;
  background-color: white;
  font-family: 'Sanchez', sans-serif;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn:hover{
  background-color: #019D6E;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/************ Add Panel *************/
#addPanel{
  display:none;
}

ul{
  padding-left: 20px;
  margin-bottom: 10px;
}

/************ Update/ Delete Panels *************/
#updateOverlay, #deleteOverlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  z-index: 2;
}

#updatePanel, #deletePanel{
  max-width: 550px;
  width: 80%;
  max-height: 600px;
  /*height: 80%;*/
  padding: 20px;
  position: relative;
  background:#019D6E;
  border-radius: 5px;
  margin: 50px auto auto auto;
  overflow: auto;
  z-index: 2;
}

#deletePanel{
  text-align: center;
  height: 120px;
  margin: 250px auto;
}

#addResponse{
  font-size: 25px;
  margin-top: 20px;
  display: none;
  color: #F9E784;
}

#updateSuccessPanel, #deleteResponsePanel{
  font-size: 30px;
  max-width: 550px;
  width: 80%;
  height: 100px;
  position: relative;
  padding-top: 50px;
  background:#019D6E;
  border-radius: 5px;
  text-align: center;
  margin: 250px auto;
  display: none;
  z-index: 2;
}

#updateFailed{
  font-size: 20px;
}

.updateSuccessClose, .deleteSuccessClose{
  text-align: right;
  margin-right: 10px;
}

/************ Form *************/
form {
  font-size: 20px;
  margin-top: 20px;
}

form label + label{
  line-height: 38px;
}

input[type=text]{
  box-sizing: border-box;
  color: #019D6E;
  font-size: 14px;
  border: 1px solid white;
  padding: 5px;
  outline: none;
  font-family: 'Sanchez', sans-serif !important;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-right: 15px;
  width: 100%;
}

.requiredFormat{
  font-size: 12px;
}

/************ Radio button formatting  *************/
.labelContainer{
  display: inline;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin-left: 15px;
  font-size: 20px;
}

.labelContainer input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labelContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a background */
.labelContainer input:checked ~ .checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.labelContainer .checkmark:after {
  top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #019D6E;
}

input[type=radio]{
  /*margin-bottom: 15px;
  margin-right: 15px;*/
  display: none;
}

/************ Display Data Table *************/
#displayPanel{
  margin-top: 30px;
}

#displayPanel form{
  font-size: 18px;
}

.updateIcons{
  float: right;
  padding-left: 10px;
}

.fa-edit:hover, .fa-trash-alt:hover, .fa-window-close:hover{
  color: #F9E784;
  cursor: pointer;
}

.line{
  border-bottom: 1px solid white;
}

.titleAuthor{
  margin-top: 5px;
  font-size: 25px;
  margin-bottom: 5px;
}

.year{
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}

.bookInfo{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 24px;
}

/************ Sorting Options *************/
/*#sortMenu{
  font-family: 'Sanchez', sans-serif;
  font-size: 14px;
  color: #019D6E;
}*/

#sortOptions{
  margin-top: 30px;
  line-height: 20px;
}

select {
  width: 150px;
  font-family: 'Sanchez', sans-serif !important;
  font-size: 14px;
  color: #019D6E;
}

.sortBtn{
  border: 2px solid white;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: 'Sanchez', sans-serif !important;
  color: white;
  background: none;
  font-size: 15px;
}

.sortBtn:hover{
  cursor: pointer;
}

.sortBtnClick{
  border: 2px solid white;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: 'Sanchez', sans-serif !important;
  color: #019D6E;
  background: white;
  font-size: 15px;
}

/************ Search Bar *************/

#searchBar{
  position: relative;
}

.searchResult{
  color: #F9E784;
  font-size: 25px;
  margin-bottom: 10px;
}

#searchForm input[type=search]{
  border: 3px solid white;
  /* background-color: #019D6E; */
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 5px 5px 35px;
  /* color: white; */
  color: #019D6E;
  outline: none;
  font-family: 'Sanchez', sans-serif !important;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0px;
  border-radius: 5px;
  position: relative;
}

#searchForm {
  margin-top: 30px;
}

#searchForm ::placeholder{
  /* color: white; */
  opacity: 0.5;
}

#searchBar i{
  color: #019D6E;
  /* color: white; */
  position: absolute;
  top: 37px;
  left: 10px;
}


/* #searchSubmit{
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 0;
} */


/************ Back to Top *************/

#backToTop{
  margin-top: 20px;
}
